# Eclipse
.classpath
.project
.settings/

# Maven
target/
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Environment / secrets
.env
application-local.properties
application-local.yml
